@import url("http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(20deg, #fef500, #18c729);
}

div {
  width: 350px;
  height: 350px;
  box-shadow: -5px -5px 7px #68b128, 5px 5px 7px #68b128;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 73% 27% 73% 27% / 27% 73% 27% 73%;
}

p {
  color: #f3f4ee;
  font-size: 1.9rem;
}
